<title>Name Search Application</title>
  <h1>Name Search Application</h1>
    <h3>Enter a list of strings, a minimum length, a maximum length and a query string to search.</h3>
    Result is {{result}}
    <br>
  <form method="post">
        <textarea name="input1" rows="10" cols="40" placeholder="List of Names"></textarea>
        <textarea name="input2" rows="10" cols="40" placeholder="Min. Length (Integer)"></textarea>
        <textarea name="input3" rows="10" cols="40" placeholder="Max Length (Integer)"></textarea>
        <textarea name="input4" rows="10" cols="40" placeholder="Search String"></textarea>
        <br>
        <input type="submit">
  </form>
